body {
    background-color: #b3e6f6;
    margin: 0px;
}
.logo {
    width: 100px;
}
.main-header {
    background-color: #480248;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}