:root {
    /* CSS HSL */
    --air-superiority-blue: hsla(201, 33%, 62%, 1);
    --isabelline: hsla(20, 33%, 95%, 1);
    --alloy-orange: hsla(26, 70%, 45%, 1);
    --black: hsla(0, 0%, 0%, 1);
}

body {
    background-color: var(--air-superiority-blue);
    margin: 0px;
}

.logo {
    width: 100px;
}

.main-header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
}

#search {
    display: flex;
    flex-direction: row;
    min-width: 30vw;
    max-width: 100vw;
    border: 1px solid var(--alloy-orange);
    border-radius: 5px;
    overflow: hidden;
    align-self: flex-end;
    margin-bottom: 10px;
}

#search input {
    flex: 1;
    padding: 5px;
}

#search button {
    padding: 5px;
    background-color: var(--alloy-orange);
    color: var(--isabelline);
    border: 1px solid transparent;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
.main-navigation a {
    color: var(--isabelline);
    text-decoration: none;
    padding: 10px;
}
.main-navigation a:hover {
    background-color: var(--alloy-orange);
}

.menu-button {
    font-size: 24px;
    background-color: transparent;
    color: var(--alloy-orange);
    border: 1px solid var(--alloy-orange);
    display: none;
}
.featured {
    max-width: 80vw;
    margin: auto;
}
.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.card {
    border: 1px solid var(--isabelline);
    background-color: var(--isabelline);
    border-radius: 15px;
    overflow: hidden;
}
.card-image {
    max-width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border: 1px solid var(--black);
}
.card-content {
    padding: 15px;
}
.card-button {
    display: block;
    padding: 12px;
    background-color: var(--black);
    color: var(--isabelline);
    text-align: center;
    text-decoration: none;
}